body {
    display: grid;
    grid-template-columns: 50% 50% 70% 30%; /* Define different column widths */
    grid-template-rows: auto;
    grid-template-areas: 
        "header nav . ."
        "main main aside aside" /* Set main and aside to span two columns each */
        "footer footer footer footer";
}

header {
    background-color: blue;
    color: white;
    padding: 20px;
    grid-area: header;
}

nav {
    background-color: yellow;
    grid-area: nav;
}

main {
    background-color: darkblue;
    color: white;
    grid-area: main;
}

aside {
    background-color: lightgreen;
    grid-area: aside;
}

footer {
    background-color: darkgreen;
    color: white;
    grid-area: footer;
}
